.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: #2F2012;
  padding: 25px 60px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title {
  flex-direction: column;
}

.title:hover {
  cursor: pointer;
}

.title h1, 
.title h2 {
  font-family: var(--favela-font);
  color: #F3E8D5;
  font-weight: 400;
  font-size: 48px;
}

.title h2 {
  font-size: 36px;
}

.menu {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.menu > li {
  list-style-type: none;
  margin-left: 16px;
}

.menu > li > a {
  display: flex;
  text-align: center;
  justify-content: center;
}

.menuButton {
  font-weight: 400;
  font-size: 0.9375rem;
  text-align: center;
  color: #F3E8D5;
  font-family: var(--sometypeMono-font);
  
  background-color: transparent;
  border: 2px solid transparent;
  padding: 10px;
}

.menuButton:hover {
  cursor: pointer;
  background-color: #F3E8D510;
  padding: 10px;
  border-bottom: 2px solid #F3E8D5;
  border-radius: 16px;
}