.container {
  position: relative;
  top: -150px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: #FFFBF3;
  padding: 50px 100px;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
}

.image {
  z-index: 1;
  position: relative;
  /* top: -150px; */
  width: 100%;
}

.photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 80px 0;
}

.photo > img {
  width: 60%;
}

.photo > figcaption {
  margin-top: 10px;
  
  font-size: 0.8rem;
  font-family: var(--sometypeMono-font);

  color: #000000;
}

.author {
  margin-top: 70px;
  text-align: center;
}

.author h1{
  font-size: 4rem;
  font-family: var(--favela-font);
  font-weight: 400;
  color: #2F2012;
}

.author h2{
  font-size: 3rem;
  font-family: var(--favela-font);
  font-weight: 400;
  color: #2F2012;

  line-height: 2rem;
}

.author h4{
  font-size: 1rem;
  font-family: var(--sometypeMono-font);
  font-weight: 700;
  color: #2F2012;
}


.report {
  display: flex;
  flex-direction: column;
  justify-items: center;

  margin-top: 50px;
}

.report p,
.reportImage p{
  margin-bottom: 25px;

  font-size: 1.75rem;
  font-family: var(--sometypeMono-font);
  font-weight: 400;
  text-align: justify;
  color: #2F2012;
}

.report span{
  font-weight: 700;
  color: #9B1915;
}

.report .highlight {
  margin-top: 25px;

  font-size: 1.75rem;
  font-family: var(--sometypeMono-font);
  font-weight: 500;
  text-align: center;
  align-self: center;
  justify-self: center;
  color: #2F2012;

  margin: 25px 25px;
}

.reportImage {
  display: flex;
  flex-direction: row;
  justify-items: s;
  align-items: center;

  margin-top: 50px;
}

.reportImage > img {
  position: relative;
  left: -100px;
  flex: 1;
}

.reportImage > p {
  flex: 1;
}